:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --body-color: #403c35;
    --sub-color:#707070;
    --box-color:#e4e7ee;
}

/* * {
    margin:0; 
} */

/* ARTEMIS LOGO */
/* .artemis {
    font-family: 'Halant', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px ;
    font-size: 4em;

}
.logo {
    height: 200px;
    transition: fadeIn .3s ease-in-out;
} */

*{
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--sub-color);
}

.container{
    height: 100px;
    padding-left:30px;
    padding-right:30px;
    background-color: rgb(210, 228, 223);
    display: block;
}

.left{
    display: block;
    float: left;
    width: 35%;

}
.right{
    display:block;
    position: relative;
    float: right;
    width: 65%;
}

.nav-list-transition>li {
    display: inline;
    margin-left:0;
}

.nav-list-transition {
    vertical-align: middle;
    padding-top: 1.5em;
    padding-left: 0;
    padding-right:0 ;
    position: relative;
    float:right;
    letter-spacing: 5px;
}


    /* HOVER ACTION */

.cta:hover, .main-nav_link:hover,a:hover {
    background: linear-gradient(90deg,#065c62,rgb(89, 112, 60));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}


/* TF CODE */
ol li, ul li, a {
    list-style: none;
    text-decoration: none;
    color: #11999E;
} 




/* Figure Out how to show/hide on hover. "none" = does the opposite of what i want */
/* .main-nav_link:hover {
    display: hidden;
} */
/* 
.sub-nav_inner{

}

.sub-nav_inner:hover{ */





/* UDEMY & LANDING PAGE EXCERCIE */

/* Div Containers  */

/* 
.container {
    background-color: rgb(134, 236, 207);

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;

}

.row {
    display: inline-block;
    background-color: yellow;
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}


.nav-list {
    padding-top: 1.5em;
    padding-left: 0;
    position: relative;
    float: right;
} */

.top-container {
    background-color: rgb(210, 228, 223);
    position: relative;

}
.h1-home{
    margin: 0;
}
.top-container>h1>a{
    color:#66bfbf; 
}

.hills {
    width:100%;
    margin-bottom: -20px;
}



div.profile {
background-color:white;
padding:10%;

}

/* .middle-container{
    background-color: rgb(238, 250, 247);
    
} */


.bottom-container {
    background-color: #66bfbf;
    position: relative;
   align-content: center;
   padding: 35px;
    height:100px ;
    color:white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 2;
}

.skill-row {
    width: 80%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}

/* Link Styles */






/* Text Styles */

.hr-home {
    border-color:var(--box-color);
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.contact-me>h2{
   font-size: 2rem;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #66BFBF;
    margin:50px auto 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding: 20px;
    font-size: 2rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    padding:20px;
    font-weight: normal;
    font-size: 1.5rem;
}

p{
    font-family: 'Merriweather', serif;

}



.a-home, a.footer-link {
    color: #11999E;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: #45b29a;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px;
    display: block;
    
}

.home-p {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    line-height:30px ;
}


.vegan {
    color:rgb(162, 184, 164);
}




/* Image Styles */

/* @media screen and (min-width: 700px) {
    .hill {
      width:300px;
    }
  } 
*/




.sun {
    position:absolute;
    right:50px;
    top:50px;
    width: 15%;
}

.rainbow {
    position:absolute;
    left:2rem;
    bottom:50%;
    width: 15%;
}

.avatar {
    height:150px;

}

.chili {
    width: 20%;
    margin-left: 25px;
    float:right;
}


.chili-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--sub-color);
}

.tube {
    width:20%;
    float: left;
    margin-right: 30px;
}

.tube-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--sub-color);
}


#header-logo span {
    display: block;
}

::selection {
    background: #e0ebe8;
    color: #545454;
    text-shadow: none;
}


#header-logo {
    background-image: url(../images/logo.png);
    background-size: 72px 72px;
    position: absolute;
    height: 72px;
    width: 72px;
    z-index: 1000;

    border-radius: 60px;
    border: solid;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

/*

#header-logo .behind {
    background:smokewhite;
    position: absolute;
    height: 72px;
    width: 72px;
    z-index: 800;

     i {
        position: absolute;
        left: 7px;
        top: 11px;
        width: 300px;
        height: 200px;
        background: url(../img/content/nav/header-logo-i.svg) no-repeat;
        z-index: 900;
    }
 */


 .button {
     margin-bottom:20px ;
        background: #38D4DA;
        background-image: -webkit-linear-gradient(top, #38D4DA, #19B1B7);
        background-image: -moz-linear-gradient(top, #38D4DA, #19B1B7);
        background-image: -ms-linear-gradient(top, #38D4DA, #19B1B7);
        background-image: -o-linear-gradient(top, #38D4DA, #19B1B7);
        background-image: linear-gradient(to bottom, #38D4DA, #19B1B7);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 35px;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 100;
        padding: 20px;
        box-shadow: 1px 1px 5px 0px #000000;
        -webkit-box-shadow: 1px 1px 5px 0px #000000;
        -moz-box-shadow: 1px 1px 5px 0px #000000;
        border: solid #337FED 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }
    
    .button:hover {
        border: solid #45B29A 1px;
        background: #17C7E2;
        background-image: -webkit-linear-gradient(top, #17C7E2, #3DF6E8);
        background-image: -moz-linear-gradient(top, #17C7E2, #3DF6E8);
        background-image: -ms-linear-gradient(top, #17C7E2, #3DF6E8);
        background-image: -o-linear-gradient(top, #17C7E2, #3DF6E8);
        background-image: linear-gradient(to bottom, #17C7E2, #3DF6E8);
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        text-decoration: none;
    }






