:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --body-color: #403c35;
    --sub-color:#707070;
    --box-color:#e4e7ee;
}

/* * {
    margin:0; 
} */

/* ARTEMIS LOGO */
/* .artemis {
    font-family: 'Halant', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px ;
    font-size: 4em;

}
.logo {
    height: 200px;
    transition: fadeIn .3s ease-in-out;
} */


body {
    text-align: center;
    /* font-family: 'Halant', serif;  */
    font-family: 'Noto Serif JP','Halant', serif;
}



/* .cta:hover, .main-nav_link:hover,a:hover {
    background: linear-gradient(90deg,#996f00,#bd9417);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
} */


/* TF CODE */
ol li, ul li, a {
    list-style: none;
    text-decoration: none;
} 
 li:hover, ul:hover, a:hover,
 li:visited, ul:visited, a:visited
  /* li:hover, a:hover, a:visited, li:visited */
  {
      background: linear-gradient(90deg,#996f00,#bd9417);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}  



/* Figure Out how to show/hide on hover. "none" = does the opposite of what i want */
/* .main-nav_link:hover {
    display: hidden;
} */

.sub-nav_inner{

}

.sub-nav_inner:hover{

}





/* UDEMY & LANDING PAGE EXCERCIE */

/* Div Containers  */

/* 
.container {
    background-color: rgb(134, 236, 207);

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;

}

.row {
    display: inline-block;
    background-color: yellow;
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}


.nav-list {
    padding-top: 1.5em;
    padding-left: 0;
    position: relative;
    float: right;
} */

.top-container {
    background-color: rgb(210, 228, 223);
    position: relative;
    padding: 100px 100px 0;
}

/* .middle-container{
    background-color: rgb(238, 250, 247);
    
} */


/* .bottom-container {
    background-color: #c5ded7;
    padding: 30px;/
} */


.skill-row {
    width: 50%;
    margin: 100% auto 100% auto;
    text-align: left;
    line-height: 2;
}

/* Link Styles */

.li-home, .a-home:hover, .a-home:visited {
    color: inherit;
}




/* Text Styles */

.hr-home {
    border-color:var(--box-color);
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.h1-home {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #66BFBF;
    margin:50px auto 0 auto;
}

.h2-home {
    color: #66BFBF;
    padding: 20px;
}

.h3-home {
    color: #11999E;
    font-family: 'Merriweather', serif;
    padding:20px;
    font-weight: normal;

}



.a-home, a.footer-link {
    color: #11999E;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: #45b29a;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px;
    display: block;
    
}

.home-p {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    line-height:30px ;
}

.vegan {
    color:rgb(162, 184, 164);
    };
}


/* Image Styles */

.mountain {
    vertical-align: middle;
    position: static;
}

.sun {
    position:absolute;
    right:50px;
    top:50px;
}

.rainbow {
    position:absolute;
    left:50px;
    bottom:350px;
    height: 20%;
}

.avatar {
    width: 20%;

}

.chilli {
    width: 20%;

}

.tube {
    width:80%;

}

}#header-logo span {
    display: block;
}

::selection {
    background: #e0ebe8;
    color: #545454;
    text-shadow: none;
}


#header-logo {
    background-image: url(../images/logo.png);
    background-size: 72px 72px;
    position: absolute;
    height: 72px;
    width: 72px;
    z-index: 1000;

    border-radius: 60px;
    border: solid;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

/*

#header-logo .behind {
    background:smokewhite;
    position: absolute;
    height: 72px;
    width: 72px;
    z-index: 800;

     i {
        position: absolute;
        left: 7px;
        top: 11px;
        width: 300px;
        height: 200px;
        background: url(../img/content/nav/header-logo-i.svg) no-repeat;
        z-index: 900;
    }
 */








