:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --body-color: #403c35;
    --sub-color:#707070;
    --box-color:#e4e7ee;
}

* {
    margin:0; 
}

/* ARTEMIS LOGO */
.artemis {
    font-family: 'Halant', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px ;
    font-size: 4em;
    /* text-align: center; */
}
.logo {
    height: 200px;
}




body {
    text-align: center;
    /* font-family: 'Halant', serif; */
    font-family: 'Noto Serif JP', serif;
}



/* Text styles */

h1, h2 {
    color:var(--bold-color);
}

h3{
    color: var(--main-color);
}


h4 {
    font-weight: normal;
    color: black;
}

.cta:hover, .main-nav_link:hover {
    background: linear-gradient(90deg,#bd9417,#996f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

li:hover, a:hover {
    color: black;
}


li,a {
    color: var(--main-color);
    text-decoration: none;
}

li {
    list-style: none;
    text-align: left;
}










/* UDEMY & LANDING PAGE EXCERCIE */

/* Div Containers  */

.joyeria {
    text-decoration:underline;
    color:var(--bold-color);
}

.top {
    background-color: var(--box-color);
    position: relative;
    padding: 100px;
}

.middle {
    background-color: var(--main-color);
}

.bottom {
    height: 200px;
    width: 200px;
    background-color: var(--sub-color);
}


/* hr {
    border-color:var(--box-color);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
} */

.home-t {
    font-family: 'Merriweather', serif;
    color: var(--bold-color);
}


.home-h {
    font-family: 'Sacramento', cursive;
}

.home-p {
    font-family: 'Montserrat', sans-serif;
}

/* Image Styles */



.top-cloud {
    position:absolute;
    right:300px;
    top:50px;
}

.bottom-cloud {
    position:absolute;
    left:300px;
    bottom:300px;
}