:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --body-color: #403c35;
    --sub-color:#707070;
    --box-color:#e4e7ee;
}


* {
    margin:0; 
}

body {
    text-align: center;
    font-family: nunito, adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;;
}

/* Div Containers  */

.joyeria {
    text-decoration:underline;
    color: red;
}

.top {
    background-color: var(--box-color);
    position: relative;
    padding: 100px;
}

.middle {
    background-color: var(--main-color);
}

.bottom {
    height: 200px;
    width: 200px;
    background-color: var(--sub-color);
}

/* Text styles */

h1, h2 {
    color:var(--bold-color);
}

h3{
    color: var(--main-color);
}

hr {
    border-color:var(--box-color);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}


li:hover, a:hover {
    color: black;
    font-weight:bold;
    text-decoration: underline var(--bold-color);
}

li,a {
    color: var(--main-color);
    text-decoration: none;
}

/* Image Styles */

.logo {
    height: 200px;
}

.top-cloud {
    position:absolute;
    right:300px;
    top:50px;
}

.bottom-cloud {
    position:absolute;
    left:300px;
    bottom:300px;
}

