:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --sub-color: #403c35;
    --body-color:#707070;
    --box-color:#e4e7ee;



}

h1 {
    color:var(--bold-color);
}

h2{
    color: var(--main-color);
}

hr {
    border-color:var(--box-color);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}