:root {
    --main-color:#888888;
    --second-color:#f0f0f0;
    --bold-color:#996F00;
    --body-color: #403c35;
    --sub-color:#707070;
    --box-color:#e4e7ee;
}

* {
    margin:0; 
}

header.bodas {
    background-color:var(--box-color);

    display: grid;
    grid-gap:1rem;
    grid-template-columns: 1fr 2fr;;
}

.page-title{
    background-color:yellow;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
}

.navbar>ul{
    background:var(--bold-color);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(8,1fr);
}


nav.boda>ul{
    display: grid;
    grid-gap: 1rem;
}





/* ARTEMIS LOGO */
.artemis {
    font-family: 'Halant', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px ;
    font-size: 4em;
    /* text-align: center; */
}



.logo {
    height: 150px;
    position:sticky;
    /* transition: fadeIn .3s ease-in-out; */
}

body {
    text-align: center;
    /* font-family: 'Halant', serif;  */
    font-family: 'Noto Serif JP','Halant', serif;
}

/* Text styles */

h1, h2 {
    color:var(--bold-color);
}

h3{
    color: var(--main-color);
}


h4 {
    font-weight: normal;
    color: black;
}



.cta:hover, .main-nav_link:hover,a:hover {
    background: linear-gradient(90deg,#996f00,#bd9417);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}


/* TF CODE */
/* ol li, ul li {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
} */

li:hover, a:hover, a:visited {
    color: inherit;
}


li,a {
    text-decoration: none;
}

li {
    list-style: none;
    text-align: left;
} 


/* Figure Out how to show/hide on hover. "none" = does the opposite of what i want */
/* .main-nav_link:hover {
    display: hidden;
} */

.sub-nav_inner{

}

.sub-nav_inner:hover{

}

